.property-card {
    width: 450px;
    height: 640px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 10px
}

.property-card:hover {
    transform: scale(1.02);
}

.img-container {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.status {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.img-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
}

.img-count img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.property-details {
    padding: 15px;
}

.property-details h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.property-details h3:hover {
    color: #d3b325;
    cursor: pointer;
}

.property-card p {
    padding: 0 15px;
    font-size: 16px;
    color: #666;
}

.price-type-container {
    display: flex;
}

.property-type {
    margin: auto;
    color: #888;

}

.price-container {
    display: flex;
    align-items: center;
    color: white;
    background: #d3b325;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 15px;
    border-radius: 5px;
    overflow: hidden;
}

.price {
    padding: 10px;

}

.currency {
    background-color: #b49900;
    padding: 10px;
}


.property-features {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #eee;
    background-color: #eee;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.feature-label {
    font-size: 20px;
    color: #888;
}

.feature-value {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.property-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 60px;
}

.card-heart-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.card-heart {
    margin-top: 0;
    cursor: pointer;
}

.card-heart.favorite {
    color: red;
}

@media (max-width: 640px) {
    .property-card {
        width: 90%;
        height: auto;
    }

    .img-container {
        height: 200px;
    }

    .property-details h3 {
        font-size: 18px;
    }

    .property-card p {
        font-size: 14px;
        padding: 0 10px;
    }

    .feature-label {
        font-size: 14px;
    }

    .feature-value {
        font-size: 14px;
    }

    .price-container {
        font-size: 24px;
    }

    .price {
        padding: 8px;
    }


    .status {
        font-size: 16px;
        padding: 5px 8px;
    }

    .img-count {
        font-size: 16px;
        padding: 5px 8px;
    }
}



.property-card:hover {
    transform: scale(1.02);
}