.list-container {
    width: 100%;
    padding: 20px;
    max-width: 900px; 
    margin: 0 auto;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.list-filters {
    display: flex;
    gap: 10px;
}

.list-property-container.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}
.list-property-container.list{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.list-icon:hover,
.grid-icon:hover{
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .list-property-container {
        grid-template-columns: 1fr;
    }
}
