.pagination button{
    width: 55px;
    height:55px;
    margin-left: 15px;
    margin-top: 20px;
    border: 1px solid #eee7c8;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}

.pagination button.active {
    background-color: #d3b325;
    color: white;
    border-color: #d3b325;
}

.pagination button:active{
    background-color: #d3b325;
    color:white;
}
.pagination button:hover{
    background-color: #e7d484;
}