.share-like-print-container{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 200px;
    margin-left: 55px;
}

.share-like-print-icons{
    padding: 15px;
    margin: auto;
}
.heart.favorite{
    color:red;
}


.share-like-print-icons:hover{
    color: #d3b325;
}